body {
    background-color:#eafdfc;
}

hr {
    background-color:#eafdfc;
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-width: 5px;
    border-color: grey;
}

h1 {
    color: #82aae3;
}

h3 {
    color: #91d8ef;
}